body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.header .logo-security img {
  width: 150px;
  height: auto;
}

.header .title {
  text-align: center;
}

.header .title h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header .title h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.header .brand {
  text-align: right;
}

.header .brand img {
  width: 140px;
  height: auto;
}

.brand-text {
  margin-top: 3px;
  font-size: 12px;
  color: #0063a2;
}

.info {
  margin-top: 20px;
}

.info .intro-text {
  margin: 10px 0;
  font-size: 14px;
  text-align: justify;
}

.details {
  margin-top: 10px;
  font-size: 14px;
  position: relative;
}

.details p {
  margin: 5px 0;
  line-height: 1.5;
}

.details strong {
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.vertical-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.details p {
  display: flex;
  align-items: center;
}

.details p::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #000;
  margin-right: 8px;
}

.threats-blocked {
  margin-top: 20px;
}

.threats-blocked h3 {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.threats-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.threats-block {
  background-color: #8BC34A;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 45%; 
}

.threats-block h4 {
  margin: 0;
  font-size: 14px;
}

.threat-count {
  font-size: 36px;
  margin-top: 10px;
}

.threats-details {
  width: 50%;
}

.threats-details table {
  width: 100%;
  border-collapse: collapse;
}

.threats-details th,
.threats-details td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.threats-details th {
  background-color: #000;
  color: #fff;
}

.threats-details td {
  background-color: #8BC34A;
  color: #000;
}

.malware-phishing {
  margin-top: 20px;
}

.malware-phishing h3 {
  margin: 0;
  color: #292929;
  padding: 10px 0;
  text-align: left;
}

.malware-phishing p.description {
  margin: 10px 0;
  padding: 0 10px;
  font-size: 12px;
  color: #4b4b4b;
  margin-left: -9px;
}

.malicious-sites {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.malicious-sites th,
.malicious-sites td {
  border: 1px solid #fff;
  padding: 10px;
}

.malicious-sites th.left {
  background-color: #000;
  color: #fff;
  text-align: left;
  width: 75%;
}

.malicious-sites th.center {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 25%;
}

.malicious-sites td.center {
  background-color: #e0e0e0;
  text-align: center;
}

.malicious-sites td {
  background-color: #e0e0e0;
}

.user-blocked-categories {
  margin-top: 20px;
}

.user-blocked-categories h3 {
  margin: 0;
  color: #292929;
  padding: 10px 0;
  text-align: left;
  margin-left: 1px;
}

.user-blocked-categories p {
  margin: 10px 0;
  margin-left: 2px;
}

.risk-analysis {
  margin-top: 30px;
}

.risk-analysis h3 {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.risk-analysis-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.most-accessed {
  width: 45%;
}

.most-accessed-title {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.transactions {
  width: 50%;
}

.transactions table {
  width: 100%;
  border-collapse: collapse;
}

.transactions th,
.transactions td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.transactions th {
  background-color: #000;
  color: #fff;
}

.transactions td {
  background-color: #e0e0e0;
}

.transactions .total {
  background-color: #8BC34A;
  font-weight: bold;
}

.blocked-sites {
  margin-top: 20px;
}

.blocked-sites h3 {
  margin: 0;
  color: #292929;
  padding: 10px 0;
  text-align: left;
  margin-left: 1px;
}

.blocked-sites p {
  margin: 10px 0;
  margin-left: 2px;
}

.most-accessed, .transactions {
    margin: 0;
    padding: 0;
}
