{"swagger":"2.0","info":{"description":"API Documentation","version":"18.2.4.0 (build 202227)","title":"Akamai Subscriber Services Manager"},"host":"20200212era.eanuncia.demo.delivery:9090","basePath":"/","tags":[{"name":"account","description":"Account Management"},{"name":"account-attribute-controller","description":"Account Attribute Controller"},{"name":"check-list-controller","description":"Check List Controller"},{"name":"clear-history-controller","description":"Clear History Controller"},{"name":"click-to-continue","description":"Engage Click to Continue"},{"name":"devices","description":"Device Management"},{"name":"line-controller","description":"Line Controller"},{"name":"line-list-controller","description":"Line List Controller"},{"name":"logical-devices","description":"Logical Device Management"},{"name":"personal-list","description":"Personal Black / White Lists"},{"name":"profile","description":"Profile Management"},{"name":"protection","description":"Protection"},{"name":"resource-controller","description":"Resource Controller"},{"name":"resource-upload-controller","description":"Resource Upload Controller"},{"name":"schedule-controller","description":"Schedule Management"},{"name":"server","description":"Health checking endpoints"},{"name":"settings","description":"Combined Settings"},{"name":"subscriber-address-controller","description":"Query for Subscriber by IP"},{"name":"subscriber-safety-controller","description":"Subscriber Safety Controller"},{"name":"subscriber-service-controller","description":"ISP Control"},{"name":"threat","description":"Threat Feed"}],"paths":{"/account/{subscriberId}":{"get":{"tags":["account"],"summary":"Get Account","description":"Returns services and subscriber details (sans addresses)","operationId":"getAccountUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["account"],"summary":"Delete Account","operationId":"deleteSubscriberUsingDELETE","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["account"],"summary":"Partial Account Update","description":"Only fields allowable by the PatchRequest are supported.","operationId":"patchServiceUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AccountRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriberId}/bypass-pin":{"patch":{"tags":["account"],"summary":"Partial Account Update","description":"Only fields allowable by the PatchRequest are supported.","operationId":"patchBypassPinUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/BypassPinRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriberId}/device":{"get":{"tags":["devices"],"summary":"Get Devices for a Subscriber","description":"Personal Internet not required.","operationId":"getAllUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["devices"],"summary":"Add Devices for a Subscriber","description":"Each device sends an individual policy manager api call.Personal Internet required to set profile.","operationId":"addDevicesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SubscriberDevice"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«SubscriberDevice»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["devices"],"summary":"Update Devices for a Subscriber","description":"Each device sends an individual policy manager api call.Personal Internet required to set profile.","operationId":"updateDevicesUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateRequest«SubscriberDevice»"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«SubscriberDevice»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriberId}/device/{address}":{"put":{"tags":["devices"],"summary":"Update a Device","description":"Address field cannot be changed.Personal Internet required to set a profile.","operationId":"updateDeviceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"address","in":"path","description":"address","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubscriberDevice"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["devices"],"summary":"Remove a Device","description":"Personal Internet not required.","operationId":"removeDeviceUsingDELETE","produces":["*/*"],"parameters":[{"name":"address","in":"path","description":"address","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["devices"],"summary":"Partial Update Device","description":"Address field cannot be changed.Personal Internet required to set profile.","operationId":"patchDeviceUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"address","in":"path","description":"address","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubscriberDeviceRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriberId}/line":{"get":{"tags":["line-controller"],"summary":"list","operationId":"listUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["line-controller"],"summary":"update","operationId":"updateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"operation","description":"operation","required":true,"schema":{"$ref":"#/definitions/LineOperationRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericOperationResponse«LineNode»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriberId}/logical-device":{"get":{"tags":["logical-devices"],"summary":"Get Logical Devices for a Subscriber","description":"Personal Internet not required.","operationId":"getAllUsingGET_2","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LogicalDeviceResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["logical-devices"],"summary":"Adds, Updates and or Removes Devices for a Subscriber","description":"Personal Internet required to set profile.","operationId":"postLogicalDevicesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GenericPostRequest«LogicalDevice»"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«LogicalDevice»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriberId}/logical-device/{name}":{"get":{"tags":["logical-devices"],"summary":"Get Logical Device for a Subscriber by name","description":"Personal Internet not required.","operationId":"getOneUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LogicalDevice"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["logical-devices"],"summary":"Update a Logical Device","description":"Name can not be changed.Personal Internet required to set a profile.","operationId":"putLogicalDeviceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/LogicalDevice"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«LogicalDevice»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["logical-devices"],"summary":"Delete Logical Device for a Subscriber by name","description":"Personal Internet not required.","operationId":"removeLogicalDeviceUsingDELETE","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["logical-devices"],"summary":"Update a Logical Device","description":"Name can not be changed.Personal Internet required to set a profile.","operationId":"patchLogicalDeviceUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/LogicalDevice"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«LogicalDevice»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriberId}/resource":{"get":{"tags":["resource-controller"],"summary":"getResources","operationId":"getResourcesUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriberId}/resource/{resourceId}":{"get":{"tags":["resource-controller"],"summary":"getResource","operationId":"getResourceUsingGET","produces":["*/*"],"parameters":[{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceDataModel"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["resource-upload-controller"],"summary":"handleUpload","operationId":"handleUploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":false,"type":"file"},{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["resource-controller"],"summary":"updateResource","operationId":"updateResourceUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriberId}/resource/{resourceId}/preview":{"get":{"tags":["resource-controller"],"summary":"getResourcePreview","operationId":"getResourcePreviewUsingGET","produces":["*/*"],"parameters":[{"name":"X-Forwarded-Prefix","in":"header","description":"X-Forwarded-Prefix","required":false,"type":"string"},{"name":"params","in":"query","description":"params","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["resource-controller"],"summary":"postResourcePreview","operationId":"postResourcePreviewUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriber}/attribute":{"get":{"tags":["account-attribute-controller"],"summary":"getAttributes","operationId":"getAttributesUsingGET","produces":["*/*"],"parameters":[{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["account-attribute-controller"],"summary":"replaceAttributes","operationId":"replaceAttributesUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"attributes","description":"attributes","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AccountAttributeData"}}},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["account-attribute-controller"],"summary":"clearAttributes","operationId":"clearAttributesUsingDELETE","produces":["*/*"],"parameters":[{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriber}/attribute/{name}":{"get":{"tags":["account-attribute-controller"],"summary":"getAttribute","operationId":"getAttributeUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountAttributeData"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["account-attribute-controller"],"summary":"replaceAttribute","operationId":"replaceAttributeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"attribute","description":"attribute","required":true,"schema":{"$ref":"#/definitions/AccountAttributeData"}},{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["account-attribute-controller"],"summary":"clearAttribute","operationId":"clearAttributeUsingDELETE","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/account/{subscriber}/history":{"get":{"tags":["clear-history-controller"],"summary":"getHistory","operationId":"getHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClearHistoryResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriber}/history:clear":{"post":{"tags":["clear-history-controller"],"summary":"clearHistory","operationId":"clearHistoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ClearHistoryRequest"}},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/account/{subscriber}/history:force-clear":{"post":{"tags":["clear-history-controller"],"summary":"clearHistoryForce","operationId":"clearHistoryForceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ClearHistoryRequest"}},{"name":"subscriber","in":"path","description":"subscriber","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/check/address/{address}":{"get":{"tags":["subscriber-address-controller"],"summary":"Get Subscriber by IP address","operationId":"getSubscriberByAddressUsingGET","produces":["*/*"],"parameters":[{"name":"address","in":"path","description":"address","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriberAddress"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/check/list/node":{"post":{"tags":["check-list-controller"],"summary":"checkListNode","operationId":"checkListNodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CheckListNodeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckListNodeResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/check/list/nodes":{"post":{"tags":["check-list-controller"],"summary":"checkListNodes","operationId":"checkListNodesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CheckListNodesRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckListNodesResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/control":{"post":{"tags":["subscriber-service-controller"],"summary":"Create Subscriber","description":"Create a subscriber if not exist","operationId":"createSubscriberUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Subscriber-Id","in":"header","description":"X-Subscriber-Id","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/NewSubscriber"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/control/{subscriberId}":{"get":{"tags":["subscriber-service-controller"],"summary":"Get Subscriber service info","operationId":"getSubscriberServiceInfoUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subscriber"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/control/{subscriberId}/service":{"post":{"tags":["subscriber-service-controller"],"summary":"Activate Service","description":"Starts a subscriber service. Fails if subscriber service is already started.","operationId":"activateServiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ActivateServiceRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/control/{subscriberId}/service/{service}":{"delete":{"tags":["subscriber-service-controller"],"summary":"Remove Service","description":"Removes a Service Completely. Resets all stored devices to default profile","operationId":"removeServiceUsingDELETE","produces":["*/*"],"parameters":[{"name":"service","in":"path","description":"service","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["subscriber-service-controller"],"summary":"Toggle Service","description":"Purpose: service denial based on billing system.","operationId":"toggleServiceUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/EnabledFieldRequest"}},{"name":"service","in":"path","description":"service","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/ht/{subscriberId}/profile":{"get":{"tags":["profile"],"summary":"Get Profile List","description":"Returns limit, total, and profiles.","operationId":"getProfileListUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["profile"],"summary":"Create Profile","description":"Household limit is 1 profile. Profile names are case sensitive. Transactional, one fail they all fail.","operationId":"createProfileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"profiles","description":"profiles","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Profile"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Update Profiles","description":"Profile name is case sensitive.","operationId":"updateProfilesUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateRequest«Profile»"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«Profile»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/ht/{subscriberId}/profile/{name}":{"get":{"tags":["profile"],"summary":"Get Profile","description":"Profile name is case sensitive.","operationId":"getProfileUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Profile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["profile"],"summary":"Update Profile","description":"Profile name is case sensitive.","operationId":"updateProfileUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"profile","description":"profile","required":true,"schema":{"$ref":"#/definitions/Profile"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["profile"],"summary":"Remove Profile","description":"Cannot remove default Profile. Moves any devices to default Profile.","operationId":"deleteProfileUsingDELETE","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Partial Update Profile","description":"Internet Access and Safe Search trigger additional Policy Binding actions.","operationId":"patchProfileUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ProfileRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/ht/{subscriberId}/profile/{name}/device":{"get":{"tags":["profile"],"summary":"Get Profile Devices","description":"Devices are returned with the profile, sometimes the interface may only have the name. Profile name is case sensitive","operationId":"getDevicesForProfileUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/line-list":{"get":{"tags":["line-list-controller"],"summary":"getAll","operationId":"getAllUsingGET_1","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["line-list-controller"],"summary":"add","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/LineList"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LineList"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/line-list/{name}":{"get":{"tags":["line-list-controller"],"summary":"get","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LineList"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["line-list-controller"],"summary":"remove","operationId":"removeUsingDELETE","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LineList"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/line-list/{name}/nodes":{"post":{"tags":["line-list-controller"],"summary":"updateNodes","operationId":"updateNodesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/LineOperationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericOperationResponse«LineNode»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/blacklist":{"get":{"tags":["personal-list"],"summary":"Get Personal Blacklist","description":"Returns the list nodes in a subscribers personal blacklist","operationId":"getBlacklistUsingGET","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Blacklist","description":"Add or Remove nodes from a Personal Blacklist","operationId":"updateBlacklistUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/feature/continue":{"get":{"tags":["click-to-continue"],"summary":"getFeature","operationId":"getFeatureUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContinueFeatureModel"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["click-to-continue"],"summary":"addFeature","operationId":"addFeatureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"feature","description":"feature","required":true,"schema":{"$ref":"#/definitions/ContinueFeatureDTO"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["click-to-continue"],"summary":"removeFeature","operationId":"removeFeatureUsingDELETE","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/pi/{subscriberId}/profile":{"get":{"tags":["profile"],"summary":"Get Profile List","description":"Returns limit, total, and profiles.","operationId":"getProfileListUsingGET_1","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["profile"],"summary":"Create Profile","description":"Household limit is 1 profile. Profile names are case sensitive. Transactional, one fail they all fail.","operationId":"createProfileUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"profiles","description":"profiles","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Profile"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Update Profiles","description":"Profile name is case sensitive.","operationId":"updateProfilesUsingPATCH_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateRequest«Profile»"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«Profile»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/pi/{subscriberId}/profile/{name}":{"get":{"tags":["profile"],"summary":"Get Profile","description":"Profile name is case sensitive.","operationId":"getProfileUsingGET_1","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Profile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["profile"],"summary":"Update Profile","description":"Profile name is case sensitive.","operationId":"updateProfileUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"profile","description":"profile","required":true,"schema":{"$ref":"#/definitions/Profile"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["profile"],"summary":"Remove Profile","description":"Cannot remove default Profile. Moves any devices to default Profile.","operationId":"deleteProfileUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Partial Update Profile","description":"Internet Access and Safe Search trigger additional Policy Binding actions.","operationId":"patchProfileUsingPATCH_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ProfileRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/pi/{subscriberId}/profile/{name}/device":{"get":{"tags":["profile"],"summary":"Get Profile Devices","description":"Devices are returned with the profile, sometimes the interface may only have the name. Profile name is case sensitive","operationId":"getDevicesForProfileUsingGET_1","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/profile/{name}/protection":{"get":{"tags":["protection"],"summary":"Get Profile Protection","description":"Special logic for profiles with custom protection, otherwise displays the result for the protection level.","operationId":"getCustomProtectionLevelUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["protection"],"summary":"Get Profile's Custom Protection","operationId":"customProtectionLevelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/profile/{profileId}/blacklist":{"get":{"tags":["personal-list"],"summary":"Get Personal Blacklist","description":"Returns the list nodes in a subscribers personal blacklist","operationId":"getBlacklistUsingGET_1","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Blacklist","description":"Add or Remove nodes from a Personal Blacklist","operationId":"updateBlacklistUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/profile/{profileId}/whitelist":{"get":{"tags":["personal-list"],"summary":"Get Personal Whitelist","description":"Returns the list nodes in a subscribers personal whitelist","operationId":"getWhitelistUsingGET_1","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Whitelist","description":"Add or Remove nodes from a Personal Whitelist","operationId":"updateWhitelistUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/profile/{profileName}/schedule":{"get":{"tags":["schedule-controller"],"summary":"Get Schedule List","description":"Returns all schedules for a given profile. Profile name is case sensitive.","operationId":"getListOfSchedulesUsingGET","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["schedule-controller"],"summary":"Create Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"createScheduleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"in":"body","name":"schedule","description":"schedule","required":true,"schema":{"$ref":"#/definitions/Schedule"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pi/{subscriberId}/profile/{profileName}/schedule/{scheduleName}":{"get":{"tags":["schedule-controller"],"summary":"Get Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"getScheduleUsingGET","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Schedule"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["schedule-controller"],"summary":"Update Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"updateScheduleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"in":"body","name":"schedule","description":"schedule","required":true,"schema":{"$ref":"#/definitions/Schedule"}},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["schedule-controller"],"summary":"Remove Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"deleteScheduleUsingDELETE","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/pi/{subscriberId}/whitelist":{"get":{"tags":["personal-list"],"summary":"Get Personal Whitelist","description":"Returns the list nodes in a subscribers personal whitelist","operationId":"getWhitelistUsingGET","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Whitelist","description":"Add or Remove nodes from a Personal Whitelist","operationId":"updateWhitelistUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/protection":{"get":{"tags":["protection"],"summary":"Get All Categories","description":"Caches after first request.","operationId":"getAllCategoriesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/protection-level":{"get":{"tags":["protection"],"summary":"Get All Protection levels with Categories for Each","description":"Caches after first request.","operationId":"getAllProtectionLevelsWithCategoriesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContentResponse«ProtectionResponse»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/protection/{level}":{"get":{"tags":["protection"],"summary":"Get Categories for Protection","description":"Caches after first request.","operationId":"getAllCategoriesLevelUsingGET","produces":["*/*"],"parameters":[{"name":"level","in":"path","description":"level","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["protection"],"summary":"Find Category","description":"Searches service protection for a list node.","operationId":"findCategoriesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/PersonalListNode"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/blacklist":{"get":{"tags":["personal-list"],"summary":"Get Personal Blacklist","description":"Returns the list nodes in a subscribers personal blacklist","operationId":"getBlacklistUsingGET_2","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Blacklist","description":"Add or Remove nodes from a Personal Blacklist","operationId":"updateBlacklistUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile":{"get":{"tags":["profile"],"summary":"Get Profile List","description":"Returns limit, total, and profiles.","operationId":"getProfileListUsingGET_2","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["profile"],"summary":"Create Profile","description":"Household limit is 1 profile. Profile names are case sensitive. Transactional, one fail they all fail.","operationId":"createProfileUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"profiles","description":"profiles","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Profile"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Update Profiles","description":"Profile name is case sensitive.","operationId":"updateProfilesUsingPATCH_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateRequest«Profile»"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationResult«Profile»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/sb/{subscriberId}/profile/{name}":{"get":{"tags":["profile"],"summary":"Get Profile","description":"Profile name is case sensitive.","operationId":"getProfileUsingGET_2","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Profile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["profile"],"summary":"Update Profile","description":"Profile name is case sensitive.","operationId":"updateProfileUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"profile","description":"profile","required":true,"schema":{"$ref":"#/definitions/Profile"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["profile"],"summary":"Remove Profile","description":"Cannot remove default Profile. Moves any devices to default Profile.","operationId":"deleteProfileUsingDELETE_2","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["profile"],"summary":"Partial Update Profile","description":"Internet Access and Safe Search trigger additional Policy Binding actions.","operationId":"patchProfileUsingPATCH_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ProfileRequest"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartialResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/sb/{subscriberId}/profile/{name}/device":{"get":{"tags":["profile"],"summary":"Get Profile Devices","description":"Devices are returned with the profile, sometimes the interface may only have the name. Profile name is case sensitive","operationId":"getDevicesForProfileUsingGET_2","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile/{name}/protection":{"get":{"tags":["protection"],"summary":"Get Profile Protection","description":"Special logic for profiles with custom protection, otherwise displays the result for the protection level.","operationId":"getCustomProtectionLevelUsingGET_1","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["protection"],"summary":"Get Profile's Custom Protection","operationId":"customProtectionLevelUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile/{profileId}/blacklist":{"get":{"tags":["personal-list"],"summary":"Get Personal Blacklist","description":"Returns the list nodes in a subscribers personal blacklist","operationId":"getBlacklistUsingGET_3","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Blacklist","description":"Add or Remove nodes from a Personal Blacklist","operationId":"updateBlacklistUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile/{profileId}/whitelist":{"get":{"tags":["personal-list"],"summary":"Get Personal Whitelist","description":"Returns the list nodes in a subscribers personal whitelist","operationId":"getWhitelistUsingGET_3","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Whitelist","description":"Add or Remove nodes from a Personal Whitelist","operationId":"updateWhitelistUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile/{profileName}/schedule":{"get":{"tags":["schedule-controller"],"summary":"Get Schedule List","description":"Returns all schedules for a given profile. Profile name is case sensitive.","operationId":"getListOfSchedulesUsingGET_1","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["schedule-controller"],"summary":"Create Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"createScheduleUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"in":"body","name":"schedule","description":"schedule","required":true,"schema":{"$ref":"#/definitions/Schedule"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sb/{subscriberId}/profile/{profileName}/schedule/{scheduleName}":{"get":{"tags":["schedule-controller"],"summary":"Get Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"getScheduleUsingGET_1","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Schedule"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["schedule-controller"],"summary":"Update Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"updateScheduleUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"in":"body","name":"schedule","description":"schedule","required":true,"schema":{"$ref":"#/definitions/Schedule"}},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["schedule-controller"],"summary":"Remove Schedule","description":"Profile name and Schedule name is case insensitive.","operationId":"deleteScheduleUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"profileName","in":"path","description":"profileName","required":true,"type":"string"},{"name":"scheduleName","in":"path","description":"scheduleName","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/sb/{subscriberId}/whitelist":{"get":{"tags":["personal-list"],"summary":"Get Personal Whitelist","description":"Returns the list nodes in a subscribers personal whitelist","operationId":"getWhitelistUsingGET_2","produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalListTotalLimitResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["personal-list"],"summary":"Update Personal Whitelist","description":"Add or Remove nodes from a Personal Whitelist","operationId":"updateWhitelistUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PersonalList"}},{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessListResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/series/aggregate/summarize/device/blocks":{"get":{"tags":["reporting-controller"],"summary":"Get device blocks","description":"Returns device blocks.","operationId":"device-blocksUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/device/discovered":{"get":{"tags":["reporting-controller"],"summary":"Get device discovered","description":"Returns new and unregistered devices discovered in the network.","operationId":"device-discoveredUsingGET_1","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/device/registration":{"get":{"tags":["reporting-controller"],"summary":"Get device registration","description":"Returns devices named for registration.","operationId":"device-registrationUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/dns/requests-by-device-15m":{"get":{"tags":["reporting-controller"],"summary":"Get domain name servers requests by device 15m","description":"Returns the total of domain requests for one or all devices.","operationId":"dns-requests-by-device-15mUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/dns/requests-by-device-2h":{"get":{"tags":["reporting-controller"],"summary":"Get domain name servers requests by device 2h","description":"Returns the total of domain requests for one or all devices.","operationId":"dns-requests-by-device-2hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/dns/requests-by-device-8h":{"get":{"tags":["reporting-controller"],"summary":"Get domain name servers requests by device 8h","description":"Returns the total of domain requests for one or all devices.","operationId":"dns-requests-by-device-8hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/pi/blocks-by-device-15m":{"get":{"tags":["reporting-controller"],"summary":"Get personal internet blocks by device 15m","description":"Returns the total of domain requests blocked for one or for all devices.","operationId":"pi-blocks-by-device-15mUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/pi/blocks-by-device-2h":{"get":{"tags":["reporting-controller"],"summary":"Get personal internet blocks by device 2h","description":"Returns the total of domain requests blocked for one or for all devices.","operationId":"pi-blocks-by-device-2hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/pi/blocks-by-device-8h":{"get":{"tags":["reporting-controller"],"summary":"Get personal internet blocks by device 8h","description":"Returns the total of domain requests blocked for one or for all devices.","operationId":"pi-blocks-by-device-8hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/pi/top-blocks-by-device":{"get":{"tags":["reporting-controller"],"summary":"Get personal internet top blocks by device","description":"Returns top 5 domain requests blocked for one or for all devices.","operationId":"pi-top-blocks-by-deviceUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/content/blocks":{"get":{"tags":["reporting-controller"],"summary":"Get secure content blocks","description":"Returns the details of content requests blocked for one or for all groups.","operationId":"secure-content-blocksUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/content/blocks-by-device":{"get":{"tags":["reporting-controller"],"summary":"Get secure content blocks by device","description":"No description available","operationId":"secure-content-blocks-by-deviceUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/content/blocks-by-group":{"get":{"tags":["reporting-controller"],"summary":"Get secure content blocks by group","description":"Returns the total of content requests blocked for one or for all groups.","operationId":"secure-content-blocks-by-groupUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/threat/blocks":{"get":{"tags":["reporting-controller"],"summary":"Get secure threat blocks","description":"Returns the details of malware and phishing threats blocked for one or for all groups.","operationId":"secure-threat-blocksUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/threat/blocks-by-device":{"get":{"tags":["reporting-controller"],"summary":"Get secure threat blocks by device","description":"No description available","operationId":"secure-threat-blocks-by-deviceUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/threat/blocks-by-group":{"get":{"tags":["reporting-controller"],"summary":"Get secure threat blocks by group","description":"Returns the total of malware and phishing threats blocked for one or for all groups.","operationId":"secure-threat-blocks-by-groupUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/threat/stops":{"get":{"tags":["reporting-controller"],"summary":"Get secure threat stops","description":"Returns the details of botnets blocked for one or for all groups.","operationId":"secure-threat-stopsUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/secure/top-business-blocks":{"get":{"tags":["reporting-controller"],"summary":"Get secure top businesubscriber safety blocks","description":"Returns top 5 content requests blocked for one or for all groups.","operationId":"secure-top-business-blocksUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/blocks-by-device-15m":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety blocks by device 15m","description":"Returns the total of malware and phishing blocked for one or for all devices.","operationId":"ss-blocks-by-device-15mUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/blocks-by-device-2h":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety blocks by device 2h","description":"Returns the total of malware and phishing blocked for one or for all devices.","operationId":"ss-blocks-by-device-2hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/blocks-by-device-8h":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety blocks by device 8h","description":"Returns the total of malware and phishing blocked for one or for all devices.","operationId":"ss-blocks-by-device-8hUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/infections":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety infections","description":"Returns discovered botnets.","operationId":"ss-infectionsUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/infections-by-device":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety infections by device","description":"Returns botnets discovered by device.","operationId":"ss-infections-by-deviceUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/aggregate/summarize/ss/stops-by-device":{"get":{"tags":["reporting-controller"],"summary":"Get subscriber safety stops by device","description":"Returns the total of botnet blocked for one or for all devices.","operationId":"ss-stops-by-deviceUsingGET_1","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/device/blocks":{"get":{"tags":["reporting-controller"],"summary":"Get device blocks","description":"Returns device blocks.","operationId":"device-blocksUsingGET","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/device/discovered":{"get":{"tags":["reporting-controller"],"summary":"Get device discovered","description":"Returns new and unregistered devices discovered in the network.","operationId":"device-discoveredUsingGET","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/device/registration":{"get":{"tags":["reporting-controller"],"summary":"Get device registration","description":"Returns devices named for registration.","operationId":"device-registrationUsingGET","produces":["application/json","text/csv"],"parameters":[{"name":"device_id","in":"query","description":"device_id","required":false,"type":"string"},{"name":"duration","in":"query","description":"duration","required":false,"type":"string"},{"name":"end_exclusive","in":"query","description":"end_exclusive","required":false,"type":"string"},{"name":"group_key","in":"query","description":"group_key","required":false,"type":"string"},{"name":"start_inclusive","in":"query","description":"start_inclusive","required":false,"type":"string"},{"name":"view","in":"query","description":"view","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/series/dns/requests-by-device-15m":{"get"
[...]
